[package]
name = "yaroc_rs"
version = "0.1.0"
edition = "2021"
rust-version = "1.64" # Because of dependencies

[build-dependencies]
prost-build = "0.13"
prost-wkt-build = "0.6"
protoc-bin-vendored = "3.1.0"
walkdir = "2.3.2"

[dependencies]
chrono = "0.4.38"
geoutils = "0.5.1"
log = "0.4.20"
meshtastic = { git = "https://github.com/meshtastic/rust.git", rev = "7410cefb3747ee7c8b6dc81a182ed91b810f9e20" }
prost = "0.13.3"
prost-wkt = "0.6"
prost-wkt-types = { version = "0.6", features = ["vendored-protoc"] }
pyo3 = { version = "0.22.0", features = ["extension-module", "chrono", "abi3-py311"] }
pyo3-log = "0.11.0"
regex = "1.11"
serde = { version = "1.0.196", features = ["derive"] }
thiserror = "1.0.50"
tokio = { version = "1.33.0", features = ["full"] }

[lib]
name = "yaroc_rs"
crate-type = ["cdylib", "rlib"]
