[package]
name = "yaroc_rs"
version = "0.1.0"
edition = "2021"
rust-version = "1.64" # Because of dependencies

[build-dependencies]
prost-build = "0.12.3"
prost-wkt-build = "0.5"
walkdir = "2.3.2"

[dependencies]
chrono = "0.4.31"
geoutils = "0.5.1"
# TODO: go back to official meshtastic once merged
meshtastic = { git = "https://github.com/lukipuki/rust.git", version = "0.1.5", branch = "protoc-err" }
prost = "0.12.3"
prost-wkt = "0.5"
prost-wkt-types = "0.5"
pyo3 = { version = "0.20.0", features = ["extension-module", "chrono"] }
regex = "1.9.6"
serde = { version = "1.0.196", features = ["derive"] }
serialport = "4.3.0"
thiserror = "1.0.50"
tokio = { version = "1.33.0", features = ["full"] }
tokio-serial = "5.4.4"

[[bin]]
name = "main"
path = "src/main.rs"

[lib]
name = "yaroc_rs"
crate-type = ["cdylib", "rlib"]
