[workspace]
members = [
  "common",
  "nrf52840",
  "python",
]
default-members = ["common", "python"]
resolver = "2"

[workspace.dependencies]
chrono = { version = "0.4.38", default-features = false }
defmt = "0.3"
embassy-executor = { version = "0.5", features = ["task-arena-size-16384", "executor-thread", "integrated-timers"] }
embassy-futures = "0.1.1"
embassy-nrf = { version = "0.1.0", features = ["defmt", "nrf52840", "time-driver-rtc1", "gpiote", "unstable-pac", "time", "nfc-pins-as-gpio"] }
embassy-sync = "0.6.1"
embassy-time = { version = "0.3.2" }
femtopb = "0.5.0"
heapless =  { git = "https://github.com/rust-embedded/heapless.git", rev = "0ebca23" }
log = "0.4"
thiserror = { version = "2.0.0", default-features = false }

[profile.release]
debug = 2
