[workspace]
members = [
  "common",
  "nrf52840",
  "python",
  "receiver",
]
default-members = ["common", "python", "receiver"]
resolver = "2"

[workspace.dependencies]
chrono = { version = "0.4.38", default-features = false }
defmt = "1.0"
embassy-executor = { version = "0.7", features = ["task-arena-size-65536", "executor-thread"] }
embassy-futures = "0.1.1"
embassy-nrf = { version = "0.4", features = ["defmt", "nrf52840", "time-driver-rtc1", "time", "nfc-pins-as-gpio"] }
embassy-sync = "0.7"
embassy-time = { version = "0.4" }
femtopb = "0.8.0"
geoutils = "0.5.1"
heapless =  { git = "https://github.com/rust-embedded/heapless.git", rev = "6067119ed3e" }
log = "0.4"
meshtastic = { git = "https://github.com/meshtastic/rust.git", rev = "8be44060c6d25c33f17a6b3c6257765f0c2343b6" }
thiserror = { version = "2.0.0", default-features = false }
tokio = { version = "1.44" }


[profile.release]
debug = 2
