[package]
edition = "2021"
name = "yaroc-nrf52840"
version = "0.1.0"
authors = ["Lukáš Poláček <lukas@polacek.email>"]
resolver = "2"
rust-version = "1.81"

[features]
default = ["cortex-m/critical-section-single-core"]
bluetooth-le = ["dep:nrf-softdevice"]

[dependencies]
yaroc-common = { path = "../common", features = ["defmt", "nrf"] }

defmt = { workspace = true }
defmt-rtt = "1.0"
panic-probe = { version = "1.0", features = ["print-defmt"] }

embedded-hal = "1.0.0"
embedded-hal-async = "1.0.0"
embedded-io = "0.6.1"
embedded-io-async = "0.6.1"

cortex-m = "0.7"
cortex-m-rt = "0.7"
cortex-m-semihosting = "0.5.0"
embassy-executor = { workspace = true, features = ["arch-cortex-m", "defmt", "executor-interrupt"] }
embassy-futures = { workspace = true }
embassy-nrf = { workspace = true }
embassy-sync = { workspace = true }
embassy-time = { workspace = true, features = ["defmt", "defmt-timestamp-uptime"] }
nrf-softdevice = { git = "https://github.com/embassy-rs/nrf-softdevice.git", rev = "6ff81139388c4256c5344ad9167859450abaa97d", features = ["defmt", "nrf52840", "s140", "ble-peripheral", "critical-section-impl"], optional = true }

chrono = { workspace = true }
femtopb = { workspace = true }
heapless =  { workspace = true, features = ["defmt-03"] }
thiserror = { workspace = true }
