[Unit]
Description=YAROC Send Punch daemon

[Service]
ExecStart=/home/pi/.local/bin/send-punch
WorkingDirectory=/home/pi
User=pi
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
