[Unit]
Description=YAROC daemon

[Service]
ExecStart=/home/pi/.local/bin/yarocd
WorkingDirectory=/home/pi
User=pi
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
