[package]
name = "yaroc-receiver"
version = "0.1.0"
edition = "2024"

[features]
default = []

[dependencies]
chrono = { workspace = true, features = ["clock", "alloc"] }
femtopb = { workspace = true }
futures = "0.3.31"
log = { workspace = true }
meshtastic = { workspace = true }
prost = "0.14"
rumqttc = { version = "0.24.0" }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["full"] }
tokio-serial = "5.4.5"
tokio-util = "0.7.16"
uuid = { version = "1.17.0", features = ["v4"] }
yaroc-common = { path = "../common", features = ["std"] }

[dev-dependencies]
clap = { version = "4.0", features = ["derive"] }
env_logger = "0.11.6"

[[example]]
name = "mqtt"

[[example]]
name = "meshtastic_serial"

[[example]]
name = "si_uart"
