[package]
name = "yaroc-python"
version = "0.1.13"
edition = "2021"
rust-version = "1.70"

[features]
default = ["receive"]
receive = ["dep:meshtastic"]

[build-dependencies]
walkdir = "2.3.2"

[dependencies]
yaroc-common = { path = "../common", features = ["std"] }

chrono = { workspace = true, default-features = true }
femtopb = { workspace = true }
geoutils = "0.5.1"
log = { workspace = true }
meshtastic = { git = "https://github.com/meshtastic/rust.git", rev = "7410cefb3747ee7c8b6dc81a182ed91b810f9e20", optional = true }
pyo3 = { version = "0.23", features = ["extension-module", "chrono", "abi3-py311"] }
pyo3-log = "0.12.0"
regex = "1.11"
thiserror = { workspace = true, default-features = true }

[lib]
name = "yaroc_rs"
crate-type = ["cdylib", "rlib"]

[lints.clippy]
manual_range_contains = "allow"
